<p id="notice"><%= notice %></p>
<h1>本</h1>
<p>
  <strong>タイトル:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>ページ数:</strong>
  <%= @book.number_of_pages %>
</p>
<div style="width:200px;height:auto;">
  <p><strong>カバー:</strong>　</p>
　<% if @book.image.attached? %>
    <%= image_tag @book.image, class: "card-img", style:"width:100%" %>
  <% end %>
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>